streamlit
langchain-community
langchain-groq
langchain-huggingface
langchain-core
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-dotenv
groq>=0.31.0
langchain-groq>=0.3.0
